body {
    padding: 0;
    margin: 0;
    background-color: rgb(27, 27, 27);
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    gap: 30px;
}
nav li {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#toppage {
    display: flex;
    flex-direction: row;
    color: white;
}


video {
    width: 700px;
    border-radius: 40px;
    margin-right: 50px;
    margin-top: 40px;
}

#navbar {
    background: linear-gradient(to top, black, rgb(14, 0, 41));
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    height: 50px;
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), inset 0 0 7px rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(0, 141, 143), 0 0 10px rgb(0, 141, 143), 0 0 20px rgb(0, 141, 143), 0 0 30px rgb(0, 141, 143), 0 0 40px rgb(0, 141, 143), 0 0 55px #da8fff, 0 0 75px #da8fff;
    background: rgb(255, 255, 255); 
    border-radius: 8px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }